*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  padding: 20px;
}
.li{
  list-style: none;
}
.a{
  text-decoration: none;
  color: #000;
}
 
